{% extends('layouts/base.min.jinja') %}
{% block page %}
<div class="container container-normal py-4">
    <div class="container-tight">
        {% include('components/brand.jinja') %}
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center">Admin</h2>
                <div class="mb-2">
                    <a href="{{ url_for('admin.index') }}" class="btn btn-primary w-100">Administrative Tasks</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}