<div class="modal modal-blur fade" id="modal-add-issuer" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post">
                {{ form_issuer_registration.csrf_token }}
                <div class="modal-header">
                    <h5 class="modal-title">Add Issuer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        {{ form_issuer_registration.scope.label(class="form-label") }}
                        {{ form_issuer_registration.scope(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form_issuer_registration.name.label(class="form-label") }}
                        {{ form_issuer_registration.name(class="form-control") }}
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary btn-3" data-bs-dismiss="modal">
                        Cancel
                    </a>
                    {{ form_issuer_registration.submit(class="btn btn-primary btn-5 ms-auto") }}
                </div>
            </form>
        </div>
    </div>
</div>